<div>
  <ng-container *ngIf="isEditMode">
    <router-outlet></router-outlet>
  </ng-container>

  <ng-container *ngIf="!isEditMode">
    <div class="stepper-container">
      <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step>Step 1: Tell us more about you...</mat-step>
        <mat-step>Step 2: How would others describe you?</mat-step>
        <mat-step>Step 3: Narrow down your interests...</mat-step>
        <mat-step>Step 4: Tell us about your ideal type!</mat-step>
        <mat-step
          >Step 5: Show your quirkyness! Let others get to know you
          better!</mat-step
        >
        <mat-step>Step 6: Show you off to the world!</mat-step>
      </mat-horizontal-stepper>
    </div>

    <ng-container *ngIf="currentStep === 1">
      <app-step1
        [data]="profileData"
        (onNext)="goToNextStep($event)"
      ></app-step1>
    </ng-container>

    <ng-container *ngIf="currentStep === 2">
      <app-step2
        (onPrevious)="goToPreviousStep()"
        (onNext)="goToNextStep($event)"
        [data]="interestPersonalityData"
      ></app-step2>
    </ng-container>

    <ng-container *ngIf="currentStep === 3">
      <app-step3
        (onPrevious)="goToPreviousStep()"
        (onNext)="goToNextStep($event)"
        [interests]="interests"
        [data]="subInterestData"
      ></app-step3>
    </ng-container>

    <ng-container *ngIf="currentStep === 4">
      <app-step4
        (onPrevious)="goToPreviousStep()"
        (onNext)="goToNextStep($event)"
        [data]="preferenceData"
      ></app-step4>
    </ng-container>

    <ng-container *ngIf="currentStep === 5">
      <app-step5
        (onPrevious)="goToPreviousStep()"
        (onNext)="goToNextStep($event)"
        [data]="promptData"
      ></app-step5>
    </ng-container>

    <ng-container *ngIf="currentStep === 6">
      <app-step6
        (onPrevious)="goToPreviousStep()"
        (onSubmit)="submit()"
      ></app-step6>
    </ng-container>
  </ng-container>
</div>
