.my-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-width: 150px;
  max-width: 500px;
  padding: 15px;
  /* margin: 10px auto; */
}

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

h2 {
  text-align: center;
  color: purple;
  margin: 10px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-top: 10px;
}

.error {
  color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.button-container {
  padding-top: 10px;
  display: flex;
}

.button {
  margin: 10px;
  width: 100%;
  justify-content: space-evenly;
}
